@model CarDealershipAPI.Models.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ChangePassword", "Account"))
{
    <div class="row">
        @Html.ValidationSummary(true)
    </div>
    <div class="row">
        <div class="col-4 mx-auto">
            <div class="row">
                <h2>Change Password</h2>
            </div>
            <div class="row">
                <div class="col">
                    <label for="password">Password: </label>
                    <div id="password">@Html.PasswordFor(m => m.Password, new {@class = "form-control"})</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="confirmPassword">Confirm Password: </label>
                    <div id="confirmPassword">@Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})</div>
                </div>
            </div>
            <div class="row mt-2">
                <button class="btn btn-primary ml-3">Save</button>
                @Html.ActionLink("Cancel", "Index", "Home", null, new {@class = "btn btn-secondary ml-2"})

            </div>
        </div>
    </div>
}