
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-10 mx-auto">
    <div class="row">
        <h3>Reports</h3>
    </div>
    <div class="row">

        <div class="col-6">
            <div class="row">
                @Html.ActionLink("Inventory Reports", "InventoryReports", "Admin")
            </div>
            <div class="row">
                @Html.ActionLink("Sales Reports", "SalesReports", "Admin")
            </div>
        </div>

    </div>
</div>

